
body {
  background-color:#000000;
  color:#FFFFFF;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  box-sizing:border-box;
}
body > * {
  background-color:#101010;
  color:#FFFFFF;
  margin: 0;
  border: 0;
  outline: 0;
}
main {
  margin-left: 8em;
  margin-right: 8em;
  min-width: 16em;
}
.scroll-left * {
  background-color:#00000000;
}
.scroll-left > * {
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 7.5s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

