
body {
  background-color:#000000;
  color:#FFFFFF;
}
body * {
  background-color:#101010;
  color:#FFFFFF;
}
main {
  margin-left: 8em;
  margin-right: 8em;
  min-width: 16em;
}
.scroll-left > * {
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 10s linear infinite;
}
@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

